app-bar-chart {
  /* width: 50%; */
  height: 80vh;
}

h1 {
  font-size: 1.5em;
}

.chart-select-wrapper {
  background-color: #EAEAEA;
  padding: 10px 0 10px 10px;
}

#chart-wrapper {
  /* height: 92%; */
  padding-top: 10px;
  min-height: 90%;
}