<div *ngIf="!dataFetched && dataLoading">
  Determining options...
</div>
<div *ngIf="dataFetched && !dataLoading">
  Number of COVID-19 
  <app-data-select (selectedDataType)="onDataTypeSelect( $event )"></app-data-select>    
  in
  <app-province-select [data]="dataFetched" (selectedProvince)="onProvinceSelect( $event )"></app-province-select>
</div>

<div *ngIf="dataLoading && provinceID && dataTypeID">Loading GRAPH...</div>
<div *ngIf="!dataLoading && provinceID && dataTypeID">
  <app-bar-chart [dataType]="dataTypeID" [provinceTag]="provinceID" [data]="dataFetched"></app-bar-chart>
</div>

<router-outlet></router-outlet>
