<h1>Number of COVID-19 cases in</h1>

<div *ngIf="!provinceOptionsArray">
  Determining options...
</div>
<div *ngIf="provinceOptionsArray && provinceOptionsArray.length > 0">
  <app-province-select [provinceArray]="provinceOptionsArray" (selectedProvince)="onSelect( $event )"></app-province-select>
</div>

<div *ngIf="dataLoading && provinceID">Loading GRAPH...</div>
<div *ngIf="!dataLoading && provinceID">
  <app-bar-chart [data]="dataOfProvinceWeekly"></app-bar-chart>
</div>

<router-outlet></router-outlet>
