<div *ngIf="provinceArray.length===0">
  Province choices loading...
</div>

<div *ngIf="provinceArray.length > 0">
  Form ...
  <form [formGroup]="provinceForm">
    <select formControlName="provinceSelection" (change)="onChange( $event )">
      <option value="">Please select province</option>
      <option *ngFor="let prv of provinceArray" value={{prv.pruid}}>{{prv.prname}}</option>
    </select>
  </form>
</div>

<p *ngIf="!selected && provinceArray.length > 0">Province not selected</p>
<p *ngIf="selected">
  <!-- Province selected: {{ provinceSelection.value }} -->
  Province selected: {{ selectedValue }}
</p>